AUTH_TRUST_HOST=true
AUTH_SECRET=<32 caracteres random>
ASTRO_DB_REMOTE_URL=<url de turso en este caso>
ASTRO_DB_APP_TOKEN=<token que da turso>
AUTH_GOOGLE_ID=<Valor que nos da console.cloud.google.com>
AUTH_GOOGLE_SECRET=<Valor que nos da console.cloud.google.com>
PUBLIC_URL=<URL DEL LOCALHOST O DE LA PAGINA>
CLOUDINARY_CLOUD_NAME=<NOMBRE DE CLOUDINARY>
CLOUDINARY_API_KEY=<API KEY DE CLOUDINARY>
CLOUDINARY_API_SECRET=<SECRET KEY DE CLOUDINARY>